@page
@model Project.Pages.Account.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Type)
        </dd>
    </dl>
</div>
<div>
    <style>
        img {
            width: 3%;
        }
    </style>
    <a class="nav-link text-dark" href="/Admin/Account/"><img src="https://fontawesomeicons.com/images/svg/arrow-back.svg" /></a>
</div>
