@page
@model Project.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.RequiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.RequiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Freight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Freight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customers.CustomerID)
        </dd>
    </dl>
</div>
<div>
    <a class="nav-link text-dark" href="/Staff/Order/Edit?id=@Model.Order?.OrderID">Edit</a>
    <style>
        img {
            width: 3%;
        }
    </style>
    <a class="nav-link text-dark" href="/Staff/Order/"><img src="https://fontawesomeicons.com/images/svg/arrow-back.svg" /></a>
</div>
