@page
@model Project.Pages.Supplier.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@*<p>
    <a href="/Admin/Supplier/Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Phone)
            </th>
            <th>
                <a href="/Admin/Supplier/Create"><img src="https://icons-for-free.com/iconfiles/png/512/create+cross+new+plus+icon-1320168707626274697.png" /></a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Supplier) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    <style>
                        img {
                            width: 5%;
                        }
                    </style>
                    <a class="nav-link text-dark" href="/Admin/Supplier/Edit?id=@item.SupplierID"><img src="https://cdn-icons-png.flaticon.com/512/1827/1827951.png" /></a> 
                    <a class="nav-link text-dark" href="/Admin/Supplier/Details?id=@item.SupplierID"><img src="https://icon-library.com/images/icon-for-details/icon-for-details-1.jpg" /></a> 
                    <a class="nav-link text-dark" href="/Admin/Supplier/Delete?id=@item.SupplierID"><img src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
