@page
@model Project.Pages.Product.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.QuantityPerUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.QuantityPerUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Suppliers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Suppliers.SupplierID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Categories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Categories.CategoryID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <style>
            img {
                width: 3%;
            }
        </style>
        <a class="nav-link text-dark" href="/Staff/Product/"><img src="https://fontawesomeicons.com/images/svg/arrow-back.svg" /></a>
    </form>
</div>
