@page
@model Project.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer?.CustomerID">Edit</a>
    <style>
        img {
            width: 3%;
        }
    </style>
    <a class="nav-link text-dark" href="/Admin/Customer/"><img src="https://fontawesomeicons.com/images/svg/arrow-back.svg" /></a>
</div>
